global
    log stdout format raw local0

defaults
    log global
    mode http
    option httplog
    option redispatch
    timeout connect 3s
    timeout client 30s
    timeout server 30s

frontend cloudislands_core_api
    bind :8443
    default_backend cloudislands_core_nodes

backend cloudislands_core_nodes
    balance roundrobin
    option httpchk GET /live
    http-check expect status 200
    default-server inter 2s fall 2 rise 2 init-addr last,libc,none
    server core-1 core-1:8443 check
    server core-2 core-2:8443 check
