CLOUDISLANDS_STORAGE_PATH=/srv/minecraft/paper/plugins/CloudIslands/islands-storage
CLOUDISLANDS_DATABASE_PASSWORD_FILE=./secrets/database-password
CLOUDISLANDS_CORE_TOKEN_FILE=./secrets/core-token
CLOUDISLANDS_ADMIN_TOKEN_FILE=./secrets/admin-token
