CLOUDISLANDS_PAPER_PORT=25565
CLOUDISLANDS_PAPER_VERSION=26.1.2
CLOUDISLANDS_PAPER_ONLINE_MODE=true
CLOUDISLANDS_PAPER_JAVA_OPTS=-Xms512m -Xmx1g
CLOUDISLANDS_STORAGE_PATH=/srv/minecraft/paper/plugins/CloudIslands/islands-storage
CLOUDISLANDS_DATABASE_PASSWORD_FILE=./secrets/database-password
CLOUDISLANDS_CORE_TOKEN_FILE=./secrets/core-token
CLOUDISLANDS_ADMIN_TOKEN_FILE=./secrets/admin-token
MINECRAFT_EULA=TRUE
